.tarjeta-usuario {
    width: 600px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    position: relative;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: #ffffff 2px solid;
}

.title {
    font-size: 14px;
    color: #6d6d6d;
    padding: 10px 0;
}

.location {
    font-size: 16px;
    color: #4e4e4e;
    padding: 10px 0;
}

.description {
    font-size: 14px;
    color: #6d6d6d;
    padding: 10px 0 30px 0;
}

.name, .location, .title, .description {
    font-family: 'Arial', sans-serif;
}

button {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.color {
    width: 640px;
    height: 75px;
    background-color: #b4ffca;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 00px;
    box-shadow: 0 4px 20px rgba(0, 239, 12, 0.1);
}

.profile-picture, .name, .location, .title, .description, button {
    position: relative;
    z-index: 1; 
}